{% extends "base.html" %}

{% block main %}
    <h1>Contact</h1>

    <p>
        If you have questions or comments, either use the comment section or message me on
        <a href="https://freenode.net">freenode irc</a>, nickname nnscr.
    </p>

    <p>
        You can also send me an email. I'm sure you'll be able to find out the address. Tip: catch-all for this domain.
        My GPG key is <code>D0F4 8C64 77AE 0399 81C3  4854 C2D7 49AD 72C3 25C2</code> if you wish to send me an
        encrypted mail.
    </p>
{% endblock %}
