# Copy this file to settings_local.py and adjust the settings below.

# Change this to something unique, as this is the default development key and thus available in the git repository
SECRET_KEY = "4eymn)ucz_#d%)6-!@2f!q@b*5=h6*hhe@jttk^gn1#qtb$rlp"

# Change to False in production
DEBUG = True

# Set at least one domain or "*" for production
ALLOWED_HOSTS = []

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
