<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nnscr.de</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
</head>
<body>
<a href="https://github.com/nnscr/nnscr.de"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
<div class="container" id="page">
    <header id="page-header">
        <h1><a href="{% url "blog:list" %}" rel="index">nnscr</a></h1>
        <small>Linux, Programming, Electronics and more</small>
    </header>
    <div class="row" id="page-main-row">
        <div id="page-main-inner-row">
            <div id="page-main">
                {% block main %}{% endblock %}
            </div>
            <div id="page-sidebar">
                {% load sidebar_pages %}
                {% load sidebar_tags %}
                {% sidebar_pages %}
                {% sidebar_tags %}
            </div>
        </div>
    </div>
    <footer id="page-footer">
        <a class="footer-item github" href="https://github.com/nnscr">
            <i class="fa fa-github"></i> Github
        </a>
        <a class="footer-item license" href="{% url "blog:licensing" %}">
            <i class="fa fa-creative-commons"></i> All contents licensed CC BY
        </a>
        <a class="footer-item contact" href="{% url "blog:contact" %}">
            <i class="fa fa-info-circle"></i> Contact
        </a>
    </footer>
</div>
</body>
</html>
