<textarea class="markdown-editor" {{ attrs }}>{{ value }}</textarea>

<script type="text/javascript">
    function handle_keypress(ev) {
        if (ev.ctrlKey) {
            return;
        }

        var sel_start = this.selectionStart;
        var sel_end = this.selectionEnd;
        var sel_len = sel_end - sel_start;

        if (ev.keyCode == 8) { // backspace
            if (sel_start >= 4) {
                // get the position of the last break before the selection
                var previous_break_pos = this.value.substr(0, sel_start).lastIndexOf("\n");

                // treat string start as line break
                if (previous_break_pos == -1) {
                    previous_break_pos = 0;
                }

                // get the part from the line beginning to the cursor
                var beginning = this.value.substring(previous_break_pos + 1, sel_start);

                if (beginning.match(/^(    )+$/)) {
                    // line beginning is an even number of spaces, remove a tab width
                    this.value = this.value.substr(0, sel_start - 4) + this.value.substr(sel_start);
                    this.selectionStart = sel_start - 4;
                    this.selectionEnd = this.selectionStart;
                    ev.preventDefault();
                }
            }
        } else if (ev.keyCode == 9) { // tab
            ev.preventDefault();

            if (sel_len == 0) {
                this.value = this.value.substr(0, sel_start) + "    " + this.value.substr(sel_end);

                // move cursor by the width of the new inserted tab
                this.selectionStart = sel_start + 4;
                this.selectionEnd = sel_end + 4;
            } else {
                // get the position of the last break before the selection
                var previous_break_pos = this.value.substr(0, sel_start).lastIndexOf("\n");
                // get the whole selection from the first tab to the selection end
                var selection = this.value.substring(previous_break_pos, sel_end);
                // indent the code
                var indented = selection.replace(/^/mg, "    ");
                // write back to input
                this.value = this.value.substr(0, previous_break_pos) + indented + this.value.substr(sel_end);
            }
        } else if (ev.keyCode == 13 && sel_len == 0) { // return
            var beginning = this.value.substr(0, sel_start);
            var last_break = beginning.lastIndexOf("\n") + 1;
            var this_line = beginning.substr(last_break);
            var indentation = "";

            ev.preventDefault();

            while (this_line.startsWith("    ")) {
                indentation += "    ";
                this_line = this_line.substr(4);
            }

            if (indentation != "") {
                this.value = this.value.substr(0, sel_start) + "\n" + indentation + this.value.substr(sel_start);
                this.selectionStart = sel_start + indentation.length + 1;
                this.selectionEnd = this.selectionStart;
            }
        } else if (ev.keyCode == 36) { // home / pos1
            var beginning = this.value.substr(0, sel_start);
            var last_break = beginning.lastIndexOf("\n") + 1;
            var this_line = beginning.substr(last_break);
            var new_position = last_break;

            ev.preventDefault();

            while (this_line.startsWith("    ")) {
                this_line = this_line.substr(4);
                new_position += 4;
            }

            this.selectionStart = new_position;
            this.selectionEnd = new_position;
        }
    }

    function resizeEditor(textarea) {
        var height = textarea.scrollHeight;
        if (height > 0) {
            textarea.style.height = height + "px";
        }
    }

    var elements = document.getElementsByClassName("markdown-editor");

    for (var element in elements) {
        if (!elements.hasOwnProperty(element)) {
            continue;
        }

        var editor = elements[element];

        editor.addEventListener("keydown", handle_keypress);
        resizeEditor(editor);
    }

</script>
